.img { 
	display:flex; 
	justify-content:center; 
	align-items:center; 
} 

.navbar-brand{
    color: black;
}

.navbar-brand small {
  display: block;
  font-size: 12px;
  white-space: normal;
  position: absolute;
}

.nav-link {
    color: black;
}