body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif !important;
  background-image: url('../img/city-scape-bg.jpg');
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
}

.gem-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gem-gif {
  width: 80%;
  height: 80%;
}

.footer {
  font-family: 'Lato', sans-serif !important;
  width: 100%; 
  display: flex; 
  margin-top: auto;
  flex-direction: column;
  align-items: center;
  background-color: #570188;
  color: #FFF;
  padding: 1rem 0;
}

.footer-link {
  color: #FFF
}

.navbar { background-color: #570188; }
.navbar .navbar-nav .nav-link { color: #fff; }
.navbar .navbar-nav .nav-link:hover { color: #fbc531; }
.navbar {
  font-family: 'Lato', sans-serif !important;
}

/* .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='1' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} */

/* change the background color 
.navbar-custom {
  background-color: #570188;
}

/* change the brand and text color 
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #ffcc00;
}

/* change the link color 
.navbar-custom .navbar-nav .nav-link {
  color: #ffbb00;
}

/* change the color of active or hovered links 
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: pink;
}

/* .navbar-toggler-icon .my-toggler{
  border-color: #ffcc00;
} */



footer a.text-light:hover { color: #fed136!important; text-decoration: none; }
@media (max-width: 992px) { footer .cizgi { border-right: none; } }

